.schedule_single_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.schedule_single_wrapper_content_wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: var(--secondary);
  /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: 0px 0px 0px 0.3px white;
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  gap: 10px;
  position: relative;
  transform: translateX(200px);
}
.schedule_single_wrapper_content_wrapper_left {
  text-align: right;
  transform: translateX(-200px);
}
.schedule_single_wrapper_content_wrapper > span {
  font-size: 2rem;
  font-weight: 900;
}
.schedule_single_wrapper_content_wrapper > h3 {
  color: var(--primary);
}
.schedule_single_wrapper_path {
  position: absolute;
  top: -10px;
  left: -50px;
  height: calc(100% + 100px);
  width: 2px;
  background-color: var(--secondary);
  min-height: 20px;
}
.schedule_single_wrapper_path_left {
  left: calc(350px);
}
.schedule_single_wrapper_path_big_round {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  left: -10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom_dot {
  bottom: 0;
}
.schedule_single_wrapper_path_big_round_small_round {
  width: 14px;
  height: 14px;
  border-radius: inherit;
  background-color: black;
}
@media all and (max-width: 700px) {
  .schedule_single_wrapper_content_wrapper {
    padding: 15px;
    width: 250px;
    transform: translateX(135px);
  }
  .schedule_single_wrapper_content_wrapper_left {
    transform: translateX(-135px);
  }
  .schedule_single_wrapper_path {
    left: -10px;
    top: -20px;
    height: calc(100% + 60px);
  }
  .schedule_single_wrapper_path_left {
    left: calc(260px);
  }
  .schedule_single_wrapper_content_wrapper > span {
    font-size: 1.5rem;
  }
  .schedule_single_wrapper_content_wrapper > p {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 550px) {
  .schedule_single_wrapper_content_wrapper {
    width: 150px;
    gap: 5px;
    transform: translateX(75px);
  }
  .schedule_single_wrapper_content_wrapper_left {
    transform: translateX(-75px);
  }
  .schedule_single_wrapper_path {
    left: 0px;
    height: calc(100% + 50px);
  }
  .schedule_single_wrapper_path_left {
    left: calc(150px);
  }
  .schedule_single_wrapper_content_wrapper > span {
    font-size: 1.2rem;
  }
  .schedule_single_wrapper_content_wrapper > h3 {
    font-size: 1.1rem;
  }
  .schedule_single_wrapper_content_wrapper > p {
    font-size: 0.8rem;
  }
  .schedule_single_wrapper_path_big_round {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--primary);
    left: -7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .schedule_single_wrapper_path_big_round_small_round {
    width: 8px;
    height: 8px;
    border-radius: inherit;
    background-color: black;
  }
}
